.quote {
	width: fit-content;
	padding: 1rem;
	background-color: transparentize(#000, .98);

	& > .quote-body {
		z-index: 1;
		position: relative;
		margin: 0;
		padding: .75rem 2.75rem;
		font-family: Georgia, serif;
		font-size: 1.125rem;
		font-style: italic;
		border: none !important;

		&::before,
		&::after {
			z-index: -1;
			position: absolute;
			color: hsl(0,0,82.5%);
			font-size: 4rem;
			font-style: normal; 
			font-weight: 700;
		}
		&::before {
			content: "“";
			top: 0;
			left: 0;
			line-height: 1;
		}
		&::after {
			content: "”";
			bottom: 0;
			right: 0;
			line-height: 0;
		}
	}
    & > .quote-credits {
        margin-right: 2.75rem;
		padding-right: 0;
		color: hsl(0,0,55%);
		font-size: .8125rem; // 13px
		text-align: right;
		&::before {
			content: "— "
		}
    }
}
